body{
    text-align: center;
    font-family: helvetica;
}
h2{
    font-size: 36px;
    font-family: Zapf-Chancery, cursive;
    font: bold;
}
table td{
    text-align: center;
    border-collapse: collapse;
    border: 2px solid black;
}

th{
    background: #ccccff;
}

tr:hover{
    background-color: #bbddff;
}

.cat{
    background:;
    font-family:Courier;
    border-width: 30px;
}