body{
    text-align: center;
    font-family: helvetica;
}
h2{
    font-size: 36px;
    font-family: Zapf-Chancery, cursive;
    font: bold;
}
table, th, td{
    border-collapse: collapse;
    border: 2px solid black;
}
tr:hover{
    background-color: #bbddff;
}